@import '@/app/styles/variables';

.project-card {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  
  &__image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 16px; /* Modern rounding */
    margin-bottom: 12px;
    height: 433px;

    @media (max-width: 768px) {
      height: 195px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Darker overlay for text contrast */
    // backdrop-filter: blur(0px);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #fff;
  }

  &__title-main {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
    transform: translateY(20px);
    transition: transform 0.3s ease;
  }

  &__title-subtitle {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    transform: translateY(20px);
    transition: transform 0.3s ease;
    // transition-delay: 0.05s;
  }

  &__title-short {
    font-size: 14px;
    color: #000000; /* Assuming dark text on light background page */
    font-weight: 500;
  }

  &:hover {
    .project-card__image {
      transform: scale(1.05);
    }
    
    .project-card__overlay {
      opacity: 1;
      backdrop-filter: blur(10px);
    }

    .project-card__title-main,
    .project-card__title-subtitle {
      transform: translateY(0);
    }
  }
}
