@use '@/app/styles/mixins' as *;

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: clamp(110px, 8.4vw, 249px); /* Space for fixed header */

    @include mobile {
      padding-top: 98px;
    }
  }
}
