.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 162px; /* Space for fixed header */
  }
}
